SERVER_ADDRESS_AND_PORT=127.0.0.1:8080
FIREBASE_FUNC_TOKEN=eyJhbGciOiJSUzI1NiIsImtpZCI6ImI5ODI2ZDA5Mzc3N2NlMDA1ZTQzYTMyN2ZmMjAyNjUyMTQ1ZTk2MDQiLCJ0eXAiOiJKV1QifQ.sasdasdasda.Clc0IsxudgK57F4xcHEh9GcAMHE04WV9Na2z1Y0x3IPkQlhpkwXBiCXWRCRIucE6LP9k54oZ3GVnOQWHQqICLZ15jL5ZUe8sDZ-YbEnUwdKU2ABDTeXVErgimOPCxK6N1Y8EKZszaOizXaAAVLNXL2d99MQ4eZ89UX1gaRUFr5822QiqVVQRJhFrMWufxgP8TBoMlHL5a5RmJ9fIaUKcHXd8DHYoPq8T_Tn4cgNsRxgSPrJqJQjI2EMTengYDNZ7FonW2ZSxS7jtVwLQSdth4oXpdoIGz_6jZal3gI4f9wYLhGjg3gpbN_NnR1o3UKsX9z0_q_RhX51vba7mfx6qpw
FIREBASE_FUNC_ADDRESS=https://us-central1-PROJECT_NAME-xxx7x.cloudfunctions.net
FIREBASE_USER_EMAIL_ADDRESS=fred.flinston@stoneage.com
